doctype html
html
  head
    title 'AVON Norm'
  body
    #header.screen
      .screen-content
        h1#title AVON
        a#contact-phone(href='tel:+89022323206') 8 (902) 232-32-06
        #caption Стань представителем Эйвон!
        #genertext Регистрация представителем Эйвон не накладывает никаких обязательств, ни по минимальной сумме, ни по периодичности заказа. Регистрация лишь дает возможность покупать качественную косметику (и не только) со скидками до 30% и дополнительным призом.
        h2 Успей зарегистрироваться!
        form(action='reg.php')#quik-form
          input(type='tel', name='phone', placeholder='+7(xxx) xxx-xx-xx')
          input(type='text', name='firstname', placeholder='Имя')
          input(type='text', name='lastname', placeholder='Фамилия')
          input(type='text', name='patronymic', placeholder='Отчество')
          input(type='email', name='email', placeholder='Электронная почта')
          input(type='date', name='birthdate', placeholder='Дата рождения')
          input(type='text', name='address', placeholder='Ваш адрес')
          input#agree-terms(type='checkbox')
          label(for='agree-terms')
                    | Принимаю 
                    span правила регистрации
          input.button#quick-reg(type='submit', value='Зарегистрироваться')
    #cards.screen
        picture.card
            source(type='image/webp', srcset=require('!!file-loader?name=[name]_[hash:7].webp!./img/card1.png'))
            img(src=require('!!file-loader?name=[name]_[hash:7].[ext]!./img/card1.png'))
        picture.card
            source(type='image/webp', srcset=require('!!file-loader?name=[name]_[hash:7].webp!./img/card2.png'))
            img(src=require('!!file-loader?name=[name]_[hash:7].[ext]!./img/card2.png'))
        picture.card
            source(type='image/webp', srcset=require('!!file-loader?name=[name]_[hash:7].webp!./img/card3.png'))
            img(src=require('!!file-loader?name=[name]_[hash:7].[ext]!./img/card3.png'))
    #advantages.screen
        picture#header-back
            source(type='image/webp', srcset=require('!!file-loader?name=[name]_[hash:7].webp!./img/h2.png'))
            img(src=require('!!file-loader?name=[name]_[hash:7].[ext]!./img/h2.png'))
        h2 Преимущества Avon
        .advantage
            picture
                source(type='image/webp', srcset=require('!!file-loader?name=[name]_[hash:7].webp!./img/advantage1.png'))
                img(src=require('!!file-loader?name=[name]_[hash:7].[ext]!./img/advantage1.png'))
            .title Удобная доставка
            .description Множество видов доставки – от курьерской, до доставки в постоматы или почтовые отделения
        .advantage
            picture
                source(type='image/webp', srcset=require('!!file-loader?name=[name]_[hash:7].webp!./img/advantage2.png'))
                img(src=require('!!file-loader?name=[name]_[hash:7].[ext]!./img/advantage2.png'))
            .title Сертификат
            .description Вся продукция имеет необходимые сертификаты по всем категориям
        .advantage
            picture
                source(type='image/webp', srcset=require('!!file-loader?name=[name]_[hash:7].webp!./img/advantage3.png'))
                img(src=require('!!file-loader?name=[name]_[hash:7].[ext]!./img/advantage3.png'))
            .title Доступ
            .description Доступ к специальным каталогам, акциям, распродажам и скидкам, которые доступны только представителям компании
        .advantage
            picture
                source(type='image/webp', srcset=require('!!file-loader?name=[name]_[hash:7].webp!./img/advantage4.png'))
                img(src=require('!!file-loader?name=[name]_[hash:7].[ext]!./img/advantage4.png'))
            .title Множество товаров
            .description Тысячи товаров, от косметики до одежды, кухонных принадлежностей и стильных аксессуаров
    #do-it.screen
        .do
            picture
                source(type='image/webp', srcset=require('!!file-loader?name=[name]_[hash:7].webp!./img/check.png'))
                img(src=require('!!file-loader?name=[name]_[hash:7].[ext]!./img/check.png'))
            .description Получай за заказы баллы и приобретай продукцию с дополнительными скидками. Все это для представителей AVON
        .do
            picture
                source(type='image/webp', srcset=require('!!file-loader?name=[name]_[hash:7].webp!./img/check.png'))
                img(src=require('!!file-loader?name=[name]_[hash:7].[ext]!./img/check.png'))
            .description Возможность независимого заработка – десятки тысяч людей строят карьеру вместе с Эйвон. Мы окажем вам подробную консультацию и ответим на все вопросы
        .do
            picture
                source(type='image/webp', srcset=require('!!file-loader?name=[name]_[hash:7].webp!./img/check.png'))
                img(src=require('!!file-loader?name=[name]_[hash:7].[ext]!./img/check.png'))
            .description Вы получите нашу поддержку – мы не оставим вас наедине со сложностями. Мы всегда окажем вам необходимую консультацию и по вопросам размещения заказа и по возможности заработка
        #no-garantee Без обязательств!
    #steps.screen
        picture#header-back
            source(type='image/webp', srcset=require('!!file-loader?name=[name]_[hash:7].webp!./img/h2.png'))
            img(src=require('!!file-loader?name=[name]_[hash:7].[ext]!./img/h2.png'))
        h2 Этапы регистрации в Avon
        .step
            picture
                source(type='image/webp', srcset=require('!!file-loader?name=[name]_[hash:7].webp!./img/step1.png'))
                img(src=require('!!file-loader?name=[name]_[hash:7].[ext]!./img/step1.png'))
            .description Вы оставляете на сайте заявку
        .step
            picture
                source(type='image/webp', srcset=require('!!file-loader?name=[name]_[hash:7].webp!./img/step2.png'))
                img(src=require('!!file-loader?name=[name]_[hash:7].[ext]!./img/step2.png'))
            .description Перезваниваем Вам для подтверждения заявки
        .step
            picture
                source(type='image/webp', srcset=require('!!file-loader?name=[name]_[hash:7].webp!./img/step3.png'))
                img(src=require('!!file-loader?name=[name]_[hash:7].[ext]!./img/step3.png'))
            .description Вы получаете специальный номер, который и дает доступ ко всем возможностям и преимуществам представителя AVON
        .button.scrollbtn Зарегистрироваться
    #news.screen
        picture#header-back
            source(type='image/webp', srcset=require('!!file-loader?name=[name]_[hash:7].webp!./img/h2.png'))
            img(src=require('!!file-loader?name=[name]_[hash:7].[ext]!./img/h2.png'))
        h2 Новости и акции сайта
        .post
            a.title(href='ya.ru') Скачайте новый каталог №4
            img(src=require('!!file-loader?name=[name]_[hash:7].webp!./img/h2.png'))
            .description LoremIn magna fugiat pariatur quis voluptate culpa sit occaecat sed exercitation consequat elit sunt sed non. Laborum esse veniam magna nisi et nostrud elit consectetur magna in laborum amet consectetur sed consequat dolor aliqua enim.
            a.download.button(href='ya.ru') Скачать
        .post
            a.title(href='ya.ru') Самая лучшая новость
            img(src=require('!!file-loader?name=[name]_[hash:7].webp!./img/h2.png'))
            .d-wrapper
                .description LoremIn magna fugiat pariatur quis voluptate culpa sit occaecat sed exercitation consequat elit sunt sed non. Laborum esse veniam magna nisi et nostrud elit consectetur magna in laborum amet consectetur sed consequat dolor aliqua enim. LoremIn magna fugiat pariatur quis voluptate culpa sit occaecat sed exercitation consequat elit sunt sed non. Laborum esse veniam magna nisi et nostrud elit consectetur magna in laborum amet consectetur sed consequat dolor aliqua enim.
            a.download.button(href='ya.ru') Скачать
    #full-reg.screen
        .screen-content
            picture#header-back
                source(type='image/webp', srcset=require('!!file-loader?name=[name]_[hash:7].webp!./img/h2.png'))
                img(src=require('!!file-loader?name=[name]_[hash:7].[ext]!./img/h2.png'))
            h2 Полная регистрация
            form(action='fullreg.php')#full-form
                .column
                    h3 Общие данные
                    input(type='tel', name='phone', placeholder='+7(xxx) xxx-xx-xx')
                    input(type='text', name='firstname', placeholder='Имя')
                    input(type='text', name='lastname', placeholder='Фамилия')
                    input(type='text', name='patronymic', placeholder='Отчество')
                    input(type='email', name='email', placeholder='Электронная почта')
                    input(type='date', name='birthdate', placeholder='Дата рождения')
                    h3 Паспортные данные
                    input(type='text', name='passportseries', placeholder='Серия паспорта')
                    input(type='text', name='passportnumber', placeholder='Номер паспорта')
                    input(type='text', name='passportkodpodr', placeholder='Код подразделения')
                    input(type='date', name='passportdate', placeholder='Дата выдачи')
                    input(type='date', name='passportmanufacturer', placeholder='Кем выдан')
                .column
                    h3 Адрес постоянного проживания
                    input(type='text', name='real_postindex', placeholder='Почтовый индекс')
                    select Регион
                        option(value="0") Выберите область
                        option(value="АЛТАЙ РЕСПУБЛИКА") АЛТАЙ РЕСПУБЛИКА
                        option(value="АЛТАЙСКИЙ КРАЙ") АЛТАЙСКИЙ КРАЙ
                        option(value="АМУРСКАЯ") АМУРСКАЯ
                        option(value="АРХАНГЕЛЬСКАЯ") АРХАНГЕЛЬСКАЯ
                        option(value="АСТРАХАНСКАЯ") АСТРАХАНСКАЯ
                        option(value="БАШКИРИЯ РЕСП") БАШКИРИЯ РЕСП
                        option(value="БЕЛГОРОДСКАЯ") БЕЛГОРОДСКАЯ
                        option(value="БРЯНСКАЯ") БРЯНСКАЯ
                        option(value="БУРЯТИЯ РЕСП") БУРЯТИЯ РЕСП
                        option(value="ВЛАДИМИРСКАЯ") ВЛАДИМИРСКАЯ
                        option(value="ВОЛГОГРАДСКАЯ") ВОЛГОГРАДСКАЯ
                        option(value="ВОЛОГОДСКАЯ") ВОЛОГОДСКАЯ
                        option(value="ВОРОНЕЖСКАЯ") ВОРОНЕЖСКАЯ
                        option(value="ЕВРЕЙСКАЯ АВТОНОМНАЯ ОБ") ЕВРЕЙСКАЯ АВТОНОМНАЯ ОБ
                        option(value="ЗАБАЙКАЛЬСКИЙ КРАЙ") ЗАБАЙКАЛЬСКИЙ КРАЙ
                        option(value="ИВАНОВСКАЯ") ИВАНОВСКАЯ
                        option(value="ИРКУТСКАЯ") ИРКУТСКАЯ
                        option(value="КАЛИНИНГРАДСКАЯ") КАЛИНИНГРАДСКАЯ
                        option(value="КАЛМЫКИЯ РЕСП") КАЛМЫКИЯ РЕСП
                        option(value="КАЛУЖСКАЯ") КАЛУЖСКАЯ
                        option(value="КАРАЧАЕВО-ЧЕРКЕССКАЯ РЕ") КАРАЧАЕВО-ЧЕРКЕССКАЯ РЕ
                        option(value="КАРЕЛИЯ РЕСП") КАРЕЛИЯ РЕСП
                        option(value="КЕМЕРОВСКАЯ") КЕМЕРОВСКАЯ
                        option(value="КИРОВСКАЯ") КИРОВСКАЯ
                        option(value="КОМИ РЕСП") КОМИ РЕСП
                        option(value="КОСТРОМСКАЯ") КОСТРОМСКАЯ
                        option(value="КРАСНОДАРСКИЙ КРАЙ") КРАСНОДАРСКИЙ КРАЙ
                        option(value="КРАСНОЯРСКИЙ КРАЙ") КРАСНОЯРСКИЙ КРАЙ
                        option(value="КРЫМ РЕСП") КРЫМ РЕСП
                        option(value="КРЫМ РЕСП") КРЫМ РЕСП
                        option(value="КРЫМ РЕСП") КРЫМ РЕСП
                        option(value="КРЫМ РЕСП") КРЫМ РЕСП
                        option(value="КРЫМ РЕСП") КРЫМ РЕСП
                        option(value="КУРГАНСКАЯ") КУРГАНСКАЯ
                        option(value="КУРСКАЯ") КУРСКАЯ
                        option(value="ЛЕНИНГРАДСКАЯ") ЛЕНИНГРАДСКАЯ
                        option(value="ЛИПЕЦКАЯ") ЛИПЕЦКАЯ
                        option(value="МАРИЙ ЭЛ РЕСП") МАРИЙ ЭЛ РЕСП
                        option(value="МОРДОВИЯ РЕСП") МОРДОВИЯ РЕСП
                        option(value="МОСКВА") МОСКВА
                        option(value="МОСКОВСКАЯ") МОСКОВСКАЯ
                        option(value="МУРМАНСКАЯ") МУРМАНСКАЯ
                        option(value="НИЖЕГОРОДСКАЯ") НИЖЕГОРОДСКАЯ
                        option(value="НОВГОРОДСКАЯ") НОВГОРОДСКАЯ
                        option(value="НОВОСИБИРСКАЯ") НОВОСИБИРСКАЯ
                        option(value="ОМСКАЯ") ОМСКАЯ
                        option(value="ОРЕНБУРГСКАЯ") ОРЕНБУРГСКАЯ
                        option(value="ОРЛОВСКАЯ") ОРЛОВСКАЯ
                        option(value="ПЕНЗЕНСКАЯ") ПЕНЗЕНСКАЯ
                        option(value="ПЕРМСКИЙ КРАЙ") ПЕРМСКИЙ КРАЙ
                        option(value="ПРИМОРСКИЙ КРАЙ") ПРИМОРСКИЙ КРАЙ
                        option(value="ПСКОВСКАЯ") ПСКОВСКАЯ
                        option(value="РОСТОВСКАЯ") РОСТОВСКАЯ
                        option(value="РЯЗАНСКАЯ") РЯЗАНСКАЯ
                        option(value="САМАРСКАЯ") САМАРСКАЯ
                        option(value="САНКТ-ПЕТЕРБУРГ") САНКТ-ПЕТЕРБУРГ
                        option(value="САРАТОВСКАЯ") САРАТОВСКАЯ
                        option(value="САХАЛИНСКАЯ") САХАЛИНСКАЯ
                        option(value="СВЕРДЛОВСКАЯ") СВЕРДЛОВСКАЯ
                        option(value="СМОЛЕНСКАЯ") СМОЛЕНСКАЯ
                        option(value="СТАВРОПОЛЬСКИЙ КРАЙ") СТАВРОПОЛЬСКИЙ КРАЙ
                        option(value="ТАМБОВСКАЯ") ТАМБОВСКАЯ
                        option(value="ТАТАРСТАН РЕСП") ТАТАРСТАН РЕСП
                        option(value="ТВЕРСКАЯ") ТВЕРСКАЯ
                        option(value="ТОМСКАЯ") ТОМСКАЯ
                        option(value="ТУЛЬСКАЯ") ТУЛЬСКАЯ
                        option(value="ТЫВА РЕСПУБЛИКА") ТЫВА РЕСПУБЛИКА
                        option(value="ТЮМЕНСКАЯ") ТЮМЕНСКАЯ
                        option(value="УДМУРТСКАЯ РЕСП") УДМУРТСКАЯ РЕСП
                        option(value="УЛЬЯНОВСКАЯ") УЛЬЯНОВСКАЯ
                        option(value="УСТЬ-ОРДЫНСКИЙ АО") УСТЬ-ОРДЫНСКИЙ АО
                        option(value="ХАБАРОВСКИЙ КРАЙ") ХАБАРОВСКИЙ КРАЙ
                        option(value="ХАКАСИЯ РЕСП") ХАКАСИЯ РЕСП
                        option(value="ХАНТЫ-МАНСИЙСКИЙ АО") ХАНТЫ-МАНСИЙСКИЙ АО
                        option(value="ЧЕЛЯБИНСКАЯ") ЧЕЛЯБИНСКАЯ
                        option(value="ЧУВАШСКАЯ РЕСП") ЧУВАШСКАЯ РЕСП
                        option(value="ЯРОСЛАВСКАЯ") ЯРОСЛАВСКАЯ
                    input(type='text', name='real_district', placeholder='Район')
                    input(type='text', name='real_location', placeholder='Населенный пункт')
                    input(type='text', name='real_street', placeholder='Улица')
                    input(type='text', name='real_house', placeholder='Дом')
                    input(type='text', name='real_korpus', placeholder='Корпус')
                    input(type='text', name='real_apartament', placeholder='Квартира')
                    h3 Адрес фактического проживания
                    input#adresses-match(type='checkbox')
                    label(for='agree-terms') Совпадает с адресом постоянного проживания
                    input(type='text', name='fact_postindex', placeholder='Почтовый индекс')
                    input(type='text', name='fact_region', placeholder='Регион')
                    input(type='text', name='fact_district', placeholder='Район')
                    input(type='text', name='fact_location', placeholder='Населенный пункт')
                    input(type='text', name='fact_street', placeholder='Улица')
                    input(type='text', name='fact_house', placeholder='Дом')
                    input(type='text', name='fact_korpus', placeholder='Корпус')
                    input(type='text', name='fact_apartament', placeholder='Квартира')

                input#adresses-match(type='checkbox')
                label(for='full-agree-terms') Я уже работал(а) с AVON
                br
                input#full-agree-terms(type='checkbox')
                label(for='agree-terms')
                    | Принимаю 
                    span правила регистрации
                input.button#full-reg-bt(type='submit', value='Зарегистрироваться')
    #to-top
        img(src=require("./img/arrow.svg"))
    #policy
        h2 Правила регистрации (Политика конфиденциальности)
        p.bold «25» февраля 2019 г.
        p Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в отношении всей информации, которую Интернет-магазин, расположенный по адресу avon.norm.site, может получить о Пользователе во время использования сайта Интернет-магазина, программ и продуктов Интернет-магазина.
        p.bold 1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
        p 1.1 В настоящей Политике конфиденциальности используются следующие термины:
        p 1.1.1. «Администрация сайта Интернет-магазина (далее – Администрация сайта) » – уполномоченные сотрудники на управления сайтом, действующие от имени владельца доменного имени avon.norm.site, которые организуют и (или) осуществляет обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.
        p 1.1.2. «Персональные данные» &#8212; любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).
        p 1.1.3. «Обработка персональных данных» &#8212; любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
        p 1.1.4. «Конфиденциальность персональных данных» &#8212; обязательное для соблюдения Оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.
        p 1.1.5. «Пользователь сайта Интернет-магазина (далее Пользователь)» – лицо, имеющее доступ к Сайту avon.norm.site, посредством сети Интернет и использующее Сайт интернет-магазина.
        p 1.1.6. «Cookies» — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.
        p 1.1.7. «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.
        p.bold 2. ОБЩИЕ ПОЛОЖЕНИЯ
        p 2.1. Использование Пользователем сайта Интернет-магазина означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.
        p 2.2. В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование сайта Интернет-магазина.
        p 2.3.Настоящая Политика конфиденциальности применяется только к сайту Интернет-магазина avon.norm.site. Интернет-магазин не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайте Интернет-магазина.
        p 2.4. Администрация сайта может проверять достоверность персональных данных, предоставляемых Пользователем сайта Интернет-магазина.
        p.bold 3. ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ
        p 3.1. Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта интернет-магазина по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации сайта при регистрации на сайте интернет-магазина или при оформлении заказа для приобретения Товара.
        p 3.2. Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём заполнения регистрационной формы на Сайте интернет-магазина и включают в себя следующую информацию:
        p 3.2.1. фамилию, имя, отчество Пользователя;
        p 3.2.2. контактный телефон Пользователя;
        p 3.2.3. адрес электронной почты (e-mail);
        p 3.2.4. адрес доставки Товара;
        p 3.2.5. место жительство и регистрации Пользователя.
        p 3.3. Интернет-магазин осуществляет сбор статистики об IP-адресах своих посетителей. Данная информация используется с целью выявления и решения технических проблем, для контроля законности проводимых финансовых платежей.
        p 3.4. Любая иная персональная информация неоговоренная выше (история покупок, используемые браузеры и операционные системы и т.д.) подлежит надежному хранению и нераспространению, за исключением случаев, предусмотренных в п.п. 5.2. и 5.3. настоящей Политики конфиденциальности.
        p.bold 4. ЦЕЛИ СБОРА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ
        p 4.1. Персональные данные Пользователя Администрация сайта интернет-магазина может использовать в целях:
        p 4.1.1. Идентификации Пользователя, зарегистрированного на сайте Интернет-магазина, для оформления заказа и (или) заключения Договора купли-продажи товара дистанционным способом с Название интернет-магазина.
        p 4.1.2. Предоставления Пользователю доступа к персонализированным ресурсам Сайта интернет-магазина.
        p 4.1.3. Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования Сайта интернет-магазина, оказания услуг, обработка запросов и заявок от Пользователя.
        p 4.1.4. Определения места нахождения Пользователя для обеспечения безопасности, предотвращения мошенничества.
        p 4.1.5. Подтверждения достоверности и полноты персональных данных, предоставленных Пользователем.
        p 4.1.6. Создания учетной записи для совершения покупок, если Пользователь дал согласие на создание учетной записи.
        p 4.1.7. Уведомления Пользователя Сайта интернет-магазина о состоянии Заказа.
        p 4.1.8. Обработки и получения платежей, подтверждения налога или налоговых льгот, оспаривания платежа, определения права на получение кредитной линии Пользователем.
        p 4.1.9. Предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем связанных с использованием Сайта интернет-магазина.
        p 4.1.10. Предоставления Пользователю с его согласия, обновлений продукции, специальных предложений, информации о ценах, новостной рассылки и иных сведений от имени Интернет-магазина или от имени партнеров Интернет-магазина.
        p 4.1.11. Осуществления рекламной деятельности с согласия Пользователя.
        p 4.1.12. Предоставления доступа Пользователю на сайты или сервисы партнеров Интернет-магазина с целью получения продуктов, обновлений и услуг.
        p.bold 5. СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ
        p 5.1. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.
        p 5.2. Пользователь соглашается с тем, что Администрация сайта вправе передавать персональные данные третьим лицам, в частности, курьерским службам, организациями почтовой связи, операторам электросвязи, исключительно в целях выполнения заказа Пользователя, оформленного на Сайте интернет-магазина «Название магазина», включая доставку Товара.
        p 5.3. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти Российской Федерации только по основаниям и в порядке, установленным законодательством Российской Федерации.
        p 5.4. При утрате или разглашении персональных данных Администрация сайта информирует Пользователя об утрате или разглашении персональных данных.
        p 5.5. Администрация сайта принимает необходимые организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.
        p 5.6. Администрация сайта совместно с Пользователем принимает все необходимые меры по предотвращению убытков или иных отрицательных последствий, вызванных утратой или разглашением персональных данных Пользователя.
        p.bold 6. ОБЯЗАТЕЛЬСТВА СТОРОН
        p 6.1. Пользователь обязан:
        p 6.1.1. Предоставить информацию о персональных данных, необходимую для пользования Сайтом интернет-магазина.
        p 6.1.2. Обновить, дополнить предоставленную информацию о персональных данных в случае изменения данной информации.
        p 6.2. Администрация сайта обязана:
        p 6.2.1. Использовать полученную информацию исключительно для целей, указанных в п. 4 настоящей Политики конфиденциальности.
        p 6.2.2. Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование, либо разглашение иными возможными способами переданных персональных данных Пользователя, за исключением п.п. 5.2. и 5.3. настоящей Политики Конфиденциальности.
        p 6.2.3. Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя согласно порядку, обычно используемого для защиты такого рода информации в существующем деловом обороте.
        p 6.2.4. Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.
        p.bold 7. ОТВЕТСТВЕННОСТЬ СТОРОН
        p 7.1. Администрация сайта, не исполнившая свои обязательства, несёт ответственность за убытки, понесённые Пользователем в связи с неправомерным использованием персональных данных, в соответствии с законодательством Российской Федерации, за исключением случаев, предусмотренных п.п. 5.2., 5.3. и 7.2. настоящей Политики Конфиденциальности.
        p 7.2. В случае утраты или разглашения Конфиденциальной информации Администрация сайта не несёт ответственность, если данная конфиденциальная информация:
        p 7.2.1. Стала публичным достоянием до её утраты или разглашения.
        p 7.2.2. Была получена от третьей стороны до момента её получения Администрацией сайта.
        p 7.2.3. Была разглашена с согласия Пользователя.
        p.bold 8. РАЗРЕШЕНИЕ СПОРОВ
        p 8.1. До обращения в суд с иском по спорам, возникающим из отношений между Пользователем сайта Интернет-магазина и Администрацией сайта, обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора).
        p 8.2 .Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.
        p 8.3. При не достижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с действующим законодательством Российской Федерации.
        p 8.4. К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией сайта применяется действующее законодательство Российской Федерации.
        p.bold 9. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ
        p 9.1. Администрация сайта вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.
        p 9.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на Сайте интернет-магазина, если иное не предусмотрено новой редакцией Политики конфиденциальности.
        p 9.3. Все предложения или вопросы по настоящей Политике конфиденциальности следует сообщать по электронной почте
